sniffio
idna
rfc3986
multidict
h11
anyio
yarl
urllib3
soupsieve
pysocks
pyaes
httpcore
charset-normalizer
chardet
certifi
attrs
async-timeout
async-lru
tgcrypto
requests 
pyrogram
pymongo
psutil
lxml
httpx
dotmap
beautifulsoup4
aiohttp
aiofiles 
youtube-search-python 
youtube-search
youtube-dl
wget
search-engine-parser 
python-dotenv
Python-ARQ
py-tgcalls==0.7.4
Pillow
motor
future
ffmpeg
dnspython
bs4
asyncio
